html,body{
    padding:0px;
    margin:0px;
    overflow-x: hidden;
    
}
.clear{
    clear:both;
}
/* header */

#header{
    height:70px;
    background-color:white;
    margin:0 auto;
    z-index:99;
    position:fixed;
    top:0px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
} 

/* navbar color chnage when scroll */
/* 
.clearHeader{
    position: fixed;
    width: 100%;
    z-index: 99;
    height:85px;
    margin:0 auto;
    padding:30px;    
    top:0px;
    width:100%;
    
} 
.fixedHeader{
    background-image:linear-gradient(to right,blue,orange);
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;

}  */
.logo h3{
    display: flex;
    text-transform: uppercase;
    font-size:23px;
    margin-top:12px;
}
.logo a:hover{
    text-decoration: none;
    color:orange;
}
.round{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: blue;
    margin-top:14px;
    margin-left:5px;
}
.toggle-nav{
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background: blue;
    margin-left: 30px;
    color: white;
    float: left;
}
.toggle-nav:focus{
    outline:none;
}
.toggle-menu{
    display:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 100%;
    position: absolute;
    background-color: white;
    left: 0px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
    
#dropdown{
    display:none;

}
.manage{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    position:-webkit-sticky;
}

.toggle-menu ul{
    padding:0;
    list-style:none;
    border-bottom:1px solid rgba(233, 105, 105, 0.2);
}
.toggle-menu ul li a{
    padding:15px 10px;
    display:block;
    text-align:center;
    font-size:16px;
    color:black;
    text-decoration:none;
    
}
.toggle-menu ul li a:hover{
    background:rgba(0,0,0,0.1)
}


.navbars{
    display:none;
    float:right;
    margin-right:30px;

}
.navbars ul{
    list-style:none;
    float:left;
  margin-top:-32px;
    margin-right:130px;

}
.navbars ul li{
    float:left;
    margin-left:50px;
}
.navbars ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black
}
.navbars ul li a:hover{
    font-size:15x;
    color:orangered;
    text-decoration: none;
}
.social i{
    margin-right:8px;
    font-size:25px;
    color:#7b7777;
    transition:all 0.2s linear;
}
.social a.face-book:hover i{
    color:#3b5999;
    transform:scale(1.3);
}
.social a.insta-gram:hover i{
    color:#ff5700;
    transform:scale(1.3);
}
.social a.google:hover i{
    color:#dd4b39;
    transform:scale(1.3);
}

.social a.twitter:hover i{
    color:#55acee;
    transform:scale(1.3);
}

.social a.message:hover i{
    color:#0084ff;
    transform:scale(1.3);
}

/* second part i.e team */
 
#team{
    width:100%;
    background-color: white;
}
.team{
    margin-top:50px;
    margin-bottom:50px;
}
.team h2{
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color:black;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Francois One', sans-serif;
    padding-top:65px;
}

.flip-card {
    background-color: orange;
    height: 350px;
    perspective: 1000px;
    border-radius: 10px;
    overflow: hidden;
}
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:rgba(0,0,0,orange);
    color: black;
  }
  .flip-card-front img{
      width:100%;
      height:350px;
      object-fit: cover;
  }
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back h1{
      margin-top:30px;
  }
 .owl-carousel .owl-nav.disabled {
    display: block;
  }
.owl-nav button{
    margin-top: 30px !important;
}
button.owl-prev,button.owl-next{
    color: orange !important;

}

button.owl-prev:hover,button.owl-next:hover{
    background:none !important;
    border:none !important;
    outline:none!important;

}
  /* .icon{
      display: flex;
      margin-top:30px;
      justify-content: center;
      align-items: center;
      

  }
  .icon i{
      font-size:36px;
      margin-right:10px;
      color: orange;
  } */



  /* Tribe part */
#tribe{
  margin-top:50px;
 
  margin-left:50px;
  margin-bottom: 50px;

}
.tribe{
    margin-top:40px;

}
.tribe h2{ 
    margin-top:20px;
    font-family: 'Cabin Sketch', cursive;
    font-size:30px;
}
.tribe h6{
 color:#7b7878;
 
}

.contain{
    margin-top:30px;
    display: flex;
    flex-direction:column;
    line-height: 40px;
}
.contain i{
    color:blue;
    font-size:20px;
  
}
.contain .work{
    display:flex;
    align-items:center;

}
.contain h6{
    margin-left:10px;
    font-size:18px;
    margin-top:0;
    margin-bottom: 0;
}


/* opportunities part */
#opportunities{
    width:100%;
    background-color:blue;
    margin-top:50px;
    height:300px;
    

}
.deals{

    text-align:center;
}
.deals h2{
    font-size:30px;
    font-weight:bold;
    color:white;
    padding-top:50px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Francois One', sans-serif;
}
.deals p{
    font-size:17px;
    color: rgba(255,255,255,0.8);
    margin-bottom:50px;
}
.overlap{
    margin-top:-100px;
    background-color:white;
    box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.04);
}
.designer{
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
   transition:all 0.2s linear;
   background: #ffffff;
}
.designer:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px -5px rgba(0,0,0,0.2);
    position: absolute;
    padding: 15px;
    margin: 0;
    height: 250px;
    max-height:100%;
    top: -25px;

}

.designer:hover .button{
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 0;
    transform: translateX(6%);
}
.designer h5{
    font-size:18px;
    color:black;
    
}
.designer h6{
    color:red;
    font-size:14px;
    line-height:7px;
}
.designer p{
    font-size:16px;
    padding-top:10px;
    color:black;
    padding-bottom: 5px;

}
.button{
    width:80px;
    height:40px;
    color:white;
    text-transform:uppercase;
    background-color:blue;
    border:none;
    border-radius:5px;
    transition:all 0.2s linear;
}


/* Experience part */

#experience{
    margin-top:100px;
    margin-bottom:50px;
}
.experience{
    text-align:center;
}

.experience h2{
font-size:30px;
font-weight:bold;
color:black;
padding-top:50px;
font-family: 'Abril Fatface', cursive;
font-family: 'Francois One', sans-serif;
}

.experience p{
    font-size:15px;
    color:black;
    line-height:30px;
}
.change{  
    color:blue;
    font-family: 'Bad Script', cursive;
}


.group{
    margin-top:70px;

}
.card{
    height:500px;
}
.card img{
    width:100%;
    height:100%;
    object-fit: cover;
    filter:grayscale(100%);
    transition:all 0.2s linear;
}
.card img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.cards{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    
}

.cards img{
    width: 100%;
    height: 49%;
    object-fit: cover;
    filter:grayscale(100%);
    transition:all 0.2s linear;
}


.cards img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
.cards img.image{
    height: 48%;
    object-fit: cover;
}

    .gap{
    padding-right:0px;
}


/* Gateway */
#gateway{
    margin-top:30px;
    margin-bottom:50px;
}
.gateway{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}
.gateway h2{
    font-size:30px;
    font-weight:bold;
    color:black;
    padding-top:50px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Francois One', sans-serif;
    
    }

.gateway p{
    font-size:15px;
    color:black;
    line-height:30px;
}
.looking h3{
    font-size:25px;
    line-height:40px;
    color:black;
    margin-bottom:20px;
}
.inline{
    margin-top: 30px;
    width: 400px;
    height: 80px;
    border-radius: 10px;
    box-shadow: -2px 9px 25px 0px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position:relative;
}
.email{
   
    border: none;
    font-size: 20px;
    outline: none;
}

input.email:focus ~ .emailbtn{
    width: 80px;
    right: -30px;
}

 .inline button{
    width:65px;
    height:50px;
    background-color: blue;
    color:white;
    border:none;
    align-items: center;
    margin-right:10px;
    border-radius:5px;
     position: absolute;
     right: 10px;
     transition:all 0.2s linear;
}
.description{
  margin-bottom:36px;
}
.description p{
    font-size:18px;
}

.sab{
    display:flex;

}
.pic img{
    
    width:80px;
    height:80px;
    border-radius:50%;
}
.details h3{
    font-size:22px;
}
.details p{
    margin-left:17px;
    line-height: 7px;
}


/* footer */
#footer{
    width:100%;
    background-color:orange;
    color:white;
    text-align: center;
    height:40px;
    padding-top:9px;
}
.effect{
    width:80px;
    height:45px;
    background-color: blue;
    border:none;
    color:white;
    font-size:16px;
    margin-bottom: 25px;
    border-radius:5px;
   
}
#panel {
    padding: 5px;
   
  }0
  #panel p{
      font-size:18px;
  }
 
  #panel{
      display: none;
  }
 
.effect:focus #panel{
      display:block;
  }
  .div1 {
    width: 240px;
    height: 125px;
   
    background-image: linear-gradient(to right,blue,orange);
    border-radius: 8px;
    margin-top: 20px;
    color: white;
    text-align: center;
    position: absolute;
    box-shadow: 0px 5px rgba(0,0,0,0.08);
}
.div1{
    font-size:16px;
    padding-top:15px;
    display:none;
    
}
.signs {
    display: flex;
    position: absolute;
    bottom: 10px;
}
.sign{
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid white;
margin-left: 10px;
display: flex;
margin-right: 10px;
justify-content: center;
align-items: center;
}
.sign:hover {
    background-color:white;

}
.sign i{
    font-size:18px;
    color:white;
}

.sign a.phone:hover i{
    color:blue;
    transform:scale(1.3);
}

.sign a.envelop:hover i{
    color:blue;
    transform:scale(1.3);
}

.sign a.pen:hover i{
    color:blue;
   
}

.sign a.com:hover i{
    color:blue;

}
